#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
                # Role
                guest: guest
                member: member
                admin: admin

                # Presenters
                error: Error

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

di:
	debugger: true

security:
	roles:
		guest:
		member: [guest]
		admin:

services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserManager
	- App\Forms\UserForms
	security.authorizator:
		setup:
			- addResource(%error%)
			- allow(%guest%, %error%)
			- allow(%admin%)

# Includes configuration files from modules.
includes:
	- ../CoreModule/config/config.neon

# Settings - default error messages for forms
forms:
                messages:
                                REQUIRED: 'Povinné pole.'
php:
                date.timezone: Europe/Prague